# ========================
# OS & Editor
# ========================
.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo
*.orig

# ========================
# Backend (Laravel)
# ========================
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/public/build/
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/.phpunit.cache
backend/.phpunit.result.cache
backend/auth.json
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log

# ========================
# Frontend (React)
# ========================
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


dashboard/node_modules/
dashboard/build/
dashboard/dist/
# ========================
# Logs & Temp
# ========================
*.log
*.tmp
*.cache
